* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Rammetto One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}
body {
    overflow-x: hidden;
    
}
header {
    width: 100%;
    height: 750px;
    background: url('/img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
}
/* SIDEBAR NAVIGATION */
.menu-toggle{
	position: fixed;
	top: 2.3rem;
    right: 2.5rem;
	color: #717784;;
	font-size: 2rem;
	cursor: pointer;
    z-index: 1000;
    display: none;

}

#side-nav{
    width: 50vw;
    height: 750px;
    background: #9B9BCA;;
    position: fixed;
    top: 0;
    right: -50vw;
    z-index: 2;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: 0.5s;

}
.side-nav-items {
    list-style: none;
    text-align: center;
    margin: 0 auto;
}
/* END OF SIDEBAR NAVIGATION */
nav {
    max-width: 100rem;
    width: 100%;
    height: 116px;
    background: rgba(196, 196, 196, 0.5);
    display: flex;
    justify-content: space-between;
}

.logo-container {
    /* background: red; */
    margin-left: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 100px;
    height: 100px;
}

.logo-header {
    font-family: Roboto;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #505050;
    margin: auto 35px;
}

.nav-items {
    list-style: none;
    /* background-color: red; */
    height: 116px;
    width: 390px;
    margin-right: 215px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

 .nav-link {
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #717784;
}


.header-content {
    width: 40%;
    margin-left: 230px;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-family: DM Serif Display;
    font-style: normal;
    font-size: 56px;
    line-height: 100%;
    color: #696A86;
    margin-bottom: 28px;
}

header p{
    font-family: Poppins;
    font-size: 18px;
    line-height: 27px;
    color: #696A86;
    margin-bottom: 28px;
}

.cta {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    padding: 12px 55px 13px 56px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #fff;
    cursor: pointer;
    border: none;   
    background: #9B9BCA;
}
.service-header {
    position: absolute;
    width: 380px;
    height: 39px;
    left: 639px;
    top: 832px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
}

.service-section p {
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #626780;
}
.service-section p:nth-of-type(1) {
    width: 746px;
    height: 40px;
    left: 430px;
    top: 883px;
}

.service-section p:nth-of-type(2) {
    width: 439px;
    height: 40px;
    left: 584px;
    top: 909px;
}

.service-section p:nth-of-type(3) {
    width: 388px;
    height: 40px;
    left: 609px;
    top: 935px;
}

/* .icon {
    position: absolute;
    width: 65px;
    height: 65px;
}

.service-category img:nth-of-type(1) {
    left: 327px;
    top: 1137px;
}
.service-category img:nth-of-type(3) {
    left: 914px;
    top: 1137px;
}

.service-category img:nth-of-type(4){
    left: 1202px;
    top: 1137px;
} */

.service-category {
    position: absolute;
    top: 1114px;
    left: 245px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background: blue; */

}

.service-category div {
    width: 261px;
    height: 250px;
    /* background-color: red; */
    text-align: center;
    padding-top: 23px;
    padding-bottom: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.service-category div img {
    width: 65px;
    height: 65px;
}
.service-category div h1 {
    margin-top: 21px;
    margin-bottom: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #626780;
}
.service-category div p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #626780;
    width: 228px;
    height: 60px;
}

.team-container h1{
    position: absolute;
    width: 493px;
    height: 39px;
    left: 245px;
    top: 1663px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
}

.team-container p {
    position: absolute;
    width: 449px;
    height: 120px;
    left: 245px;
    top: 1718px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
}

#member1 {
    position: absolute;
    width: 97px;
    height: 97px;
    left: 984px;
    top: 1556px;
}
#member2 {
    position: absolute;
    width: 97px;
    height: 97px;
    left: 1260px;
    top: 1581px;
}
#member3 {
    position: absolute;
    width: 97px;
    height: 97px;
    left: 914px;
    top: 1666px;
}
#member4 {
    position: absolute;
    width: 93px;
    height: 93px;
    left: 778px;
    top: 1763px;
}
#member5 {
    position: absolute;
    width: 97px;
    height: 97px;
    left: 1017px;
    top: 1833px;
}
#member6 {
    position: absolute;
    width: 97px;
    height: 97px;
    left: 1233px;
    top: 1847px;
}


.headline {
    position: absolute;
    width: 550px;
    height: 200px;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    /* or 67px */  
    color: #402B2B;
    
}

#headline1 {
    left: 242px;
    top: 2128px;
}
#headline2 {
    left: 250px;
    top: 3464px;
}

.video-bg, .video-overlay {
    position: absolute;
    width: 100%;
    height: 780px;
    left: 0px;
    top: 2330px;
}
.video-bg{
    z-index: -10;
}
.video-overlay {
    background: rgba(56, 63, 79, 0.3);
    z-index: -2;
}

.center-play {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 710px;
    top: 2630px;
}
.speaker-btn {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 1446px;
    top: 2366px;
}
/* .video-controller {
    position: absolute;
    width: 1600px;
    height: 136px;
    left: 0px;
    top: 2974px;
    background: rgba(56, 63, 79, 0.3);
    padding-left: 55px;
    padding-right: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
} */
/* .white-line {
    position: absolute;
    width: 1110px;
    height: 8px;
    left: 245px;
    top: 3044px;
    background: #FFFFFF;
}

.red-line {
    position: absolute;
    width: 777px;
    height: 8px;
    left: 245px;
    top: 3044px;
    background: #FF0202;
    border-radius: 0px 6px 6px 0px;
} */

.man {
    position: absolute;
    width: 531px;
    height: auto;
    left: 866px;
    top: 3368px;
    
}
   
.man-underlay {
    position: absolute;
    width: 1030px;
    height: 1030px;
    left: 821px;
    top: 3260px;
    background: rgba(245, 245, 255, 0.8);
    border-radius: 50%;
}

.list-left {
    position: absolute;
    left: 244px;
    top: 4039px;
    width: 540px;
    height: 600px;
    /* background-color: grey; */
}

.list-right {
    position: absolute;
    left: 818px;
    top: 4098.16px;
    width: 540px;
    height: 600px;
    /* background-color: grey; */
}

.box {
    display: flex;
    width: 540px;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px #F5F5FF;
    border-radius: 23px;
    align-items: center;
    justify-content: space-between;
    padding-left: 34.62px;
    padding-right: 40px;
    margin-bottom: 12px;
    
}

.box p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;   
    color: #402B2B;
}

/* footer {
    width: 1600px;
    height: 490px;
    background: url('img/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0;
    bottom: 0;
} */